@charset "UTF-8";

/* Media Queries */

:root{
    --azul: #7AACBF;
    --azul-claro:#A2DCF2 ;
    --rosa-pink:#F266A7;
    --rosa-velho: #F27781;
    --goiaba:#D93644;
}

/* Versão Tablet*/

@media screen and (min-width: 760px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, var(--rosa-velho), var(--azul-claro));
        background-repeat: no-repeat;
        background-size: contain;
    }

    section#container{
        width: 80vw;
        display: flex;
        flex-direction: row-reverse;
    }

    #imagem{
        background: url(../imagens/termometro.jpg) no-repeat;
        background-position:left center;
        width: 35%;
        height: 100%;
    }

    #dados{
        width: 65%;
    }

    #dados > p{
        font-size: 1em;
    }

    #resp > p {
        font-size: 1em;
    }

    form{
        margin-top: 20px;
    }
}

/* Versão Telas Grandes */

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--goiaba), var(--azul-claro), var(--azul));
        background-repeat: no-repeat;
        background-size: contain;
    }

    section#container{
        width: 950px;
        display: flex;
        flex-direction: row;
    }

    #imagem{
        width: 50%;
        height: 100%;
    }

    #dados{
        width: 50%;
    }

    #dados > h1{
        font-size: 2em;
    }

    #dados > p{
        font-size: 1.2em;
    }

    form{
        margin-top: 10px;
    }
    
    #resp > p {
        font-size: 1.2em;
    }

}